.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

.sass-cache/
coverage/

.DS_Store
.dropbox

.idea/
.idea/**/*

Gemfile.lock
*.lock

.ruby-version
.rbenv-version
.rvmrc

