<% unless Monologue.twitter_username.nil? %>
  <%= sidebar_section_for(t(".title")) do %>
    <ul id="latest_tweets">
      <% get_time_line.each do |tweet| %>
        <li><%= tweet['text'].truncate(100) %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>