<h1><%= t(".header") %></h1>
<%= monologue_admin_form_for [:admin, @user], method: :put do |user| %>
  <%= render :partial => 'form', :locals => { :user => user } %>
  <%= user.submit t(".save"), class:  "btn btn-large btn-primary" %>
<% end %>