<div id="recentcomments" class="dsq-widget">
  <h1 class="dsq-widget-title"><%= t(".recent_comments") %></h1>
  <script type="text/javascript" src="//<%= Monologue::Config.disqus_shortname%>.disqus.com/recent_comments_widget.js?num_items=20&hide_avatars=0&avatar_size=48&excerpt_length=500"></script>
</div>